/*reset + */
ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}
/*reset - */

li {
    display: inline-block;
}

.menu a:link, .menu a:visited{
    color: blue;
    font: 13px Arial;
    border: 1px solid #1A31A2;
    padding: 5px;
}

.menu a:hover, .menu a.active{
    color: #fff;
    background-color: #484848;
    border: 1px solid black;
}

li{
    width:100px;
}
a{
    display: block;
    width:100%;
}